<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>
  <body>
{# {%extends base.html.njk%} #}
    <h1>Hello, {{name}}</h1>
    <div class="fossil-div"> {#? Template with starter code. Not enough to display all the fossils. Only displays facts on one fossil. #}
      {%for id in fossils%}
        <h3>{{ fossils[id].name }}</h3>
        <h2>Liked {{ fossils[id].num_likes }} times.</h2>
        <img src="{{ fossils[id].img }}" />
      {% endfor %}
      <form>
        <select id="fossil-id-field" name= "fossil-id">
          <option>{{fossils[0].name}}</option>
          <option>{{fossils[1].name}}</option>
          <option>{{fossils[2].name}}</option>
          <option>{{fossils[3].name}}</option>
        </select>
      </form>
    </div>
  </body>
</html>


